<!DOCTYPE html>
<html>
<head>
	<title>Welcome to My Website</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1>Welcome to MENSPACE</h1>
      <p>your account has been verified</p>
			<p>Its a place you can findout something new everyday.</p>
			<a href="/login" class="btn btn-primary btn-lg">Login</a>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>About Us</h2>
				<p>We are a team of professionals dedicated to providing high-quality services to our clients.</p>
				
			</div>
			<div class="col-md-4">
				<h2>Our Services</h2>
				<p>We offer a wide range of collection</p>
				
			</div>
			
		</div>
	</div>

</body>
</html>
